@charset "UTF-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
/* 전체 화면 */
body{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: #f5f5f5; */
    background-image: url("../../img/user/login/baegyung01.png");
    /* background-image: url(../../img/user/login/baegyung02.png); */
}

/* ---------------login--------------- */
#login-content{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: space-between;
    /* padding: 0 16px; */
    margin: 0;
    border: 0;
    vertical-align: baseline;
    /* background-color: indianred; */
    position: relative;
}

#left-background{
    width: 47.161%;
    min-height: 1000px;
    height: 1000px;
    margin-bottom: 0;
    padding: 0;
    border: 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    display: block;
    /* background-color: coral; */
}

#left-wrapper{
    position: absolute;
    top: 11%;
    left: 290.247px;
    width: 500px;
    min-height: 780px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 24px #00000014;
    margin: 0 auto;
    display: block;
    /* padding: 0 50px; */
}


#title-wrapper{
    padding: 68px 0;
    margin: 0;
    border: 0;
    /* vertical-align: baseline; */
    display: block;
}

#left-content{
    width: 400px;
    height: 364px;
    padding: 0 50px;
    margin: 0;
    border: 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    display: block;
}

#title-wrapper{
    padding: 68px 0;
    margin: 0;
    border: 0;
    display: block;
    width: 400px;
    height: 108px;
}

#title{
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 42px;
    font-weight: 300;
    letter-spacing: -.04em;
    line-height: 54px;
    color: #1c1c1c;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 400px;
    height: 108px;
    margin-top: 0;
    margin-bottom: 0;
}

span.login-bold{
    font-size: 42px;
    font-weight: 400;
    letter-spacing: -.04em;
    line-height: 54px;
    columns: #1c1c1c;
    margin: 0;
    padding: 0;
    border: 0;
}

#kakao-login{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -.04em;
    line-height: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffea00;
    height: 60px;
    width: 400px;
    max-width: 100%;
    color: #1c1c1c;
    position: relative;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-style: normal;
    font-stretch: normal;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    appearance: auto;
    writing-mode: horizontal-tb;
    text-rendering: auto;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;

}

#kakao-logo{
    position: relative;
    width: 36px;
    height: 36px;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    left: -80px;
}

#start-with-kakao{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    letter-spacing: -.04em;
    color: #1c1c1c;
    left: -10px;
}

#email-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: 0;
    padding: 0;
    padding-top: 20px;
    width: 400px;
    height: 28px;
}

#email-wrapper{
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    width: 400px;
    height: 28px;
}

#start-with-email{
    padding-left: 4px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -.04em;
    line-height: 24px;
    color: #838383;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    cursor: pointer;
    width: 115.552px;
    height: 24px;
}

#hwasal{
    transform: rotate(0);
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    background-image: url(../../img/user/login/hwasal.svg);
}

input::placeholder{
    color: #CBCBCB;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 16px;
}

#left-bottom-info{
    position: absolute;
    width: 100%;
    left: 0%;
    font-size: 16px;
    letter-spacing: -.04em;
    line-height: 24px;
    color: #1c1c1c;
    top: 710px;
    word-break: keep-all;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

#open-email{
    opacity: 1;
    height: 300px;
    transition: visibility 0s ease-in-out 0ms,opacity 1s,height .5s ease-in-out;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    width: 400px;
    margin-left: 50px;
    visibility: hidden;
}

#email-form{
    margin: 0;
    margin-top: 52px;
    padding: 0;
    border: 0;
    display: block;
    width: 400px;
    height: 143px;
    position: relative;
}

/* #input-email{
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20% 8px 10px;
    border: none;
    border-bottom: 1px solid #cbcbcb;
    outline: none;
} */

.input-email{
    color: #1c1c1c;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -.04em;
    line-height: 26px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20% 8px 10px;
    border: none;
    border-bottom: 1px solid #cbcbcb;
    border-radius: 0;
    font-style: normal;
    font-stretch: normal;
    text-rendering: auto;
    word-spacing: normal;
    display: inline-block;
    text-align: start;
    cursor: text;
    height: 300px;
    height: 35px;
    outline: none;
}

.input-pw{
    color: #1c1c1c;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -.04em;
    line-height: 26px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20% 8px 10px;
    border: none;
    border-bottom: 1px solid #cbcbcb;
    border-radius: 0;
    font-style: normal;
    font-stretch: normal;
    text-rendering: auto;
    word-spacing: normal;
    display: inline-block;
    text-align: start;
    cursor: text;
    height: 300px;
    height: 35px;
    outline: none;
    margin-top: 30px;
}

#eye{
    display: inline-block;
    background: url(../../img/user/login/eye.svg);
    width: 36px;
    height: 36px;
    cursor: pointer;
    position: absolute;
    right: 25px;
    bottom: 25px;
}

#warning{
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -.04em;
    color: #d91d1d;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 8px;
    margin-bottom: 0;
    visibility: visible;
}

#warning2{
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -.04em;
    color: #d91d1d;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 8px;
    margin-bottom: 0;
    visibility: visible;
}

#next-button{
    background-color: #cbcbcb;
    border: none;
    color: #fff;
    cursor: default;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -.04em;
    line-height: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 400px;
    max-width: 100%;
    position: relative;
    outline: none;
    box-sizing: border-box;
    padding: 0;
    font-style: normal;
    font-stretch: normal;
    appearance: auto;
    text-rendering: auto;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    margin: 0em;
    bottom: -27px;
}

#forgot-email-box{
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    text-align: center;
    width: 400px;
    height: 22px;
    margin-top: 95px;
    /* margin-bottom: 43px; */
    position: relative;
}

#forgot-email{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -.04em;
    line-height: 22px;
    color: #838383;
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #838383;
    cursor: pointer;
    vertical-align: baseline;
    text-align: center;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    position: relative;
}
/* ---------------login end--------------- */


/* --------------------footer-------------------- */

footer{
    position: relative;
    /* width: 1690.67px; */
    width: 100%;
    height: 319px;
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    padding-bottom: 48px;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    bottom: 0;
    overflow: visible;
    clear: both;
    padding-bottom: 48px;
    /* padding-left: 275px;
    padding-right: 275px; */
}

div.footer-top{
    /* width: 1100px; */
    width: 96.492%;
    height: 24px;
    border-bottom: 1px solid #838383;
    display: block;
    padding: 28px 20px;
}

div.footer-link-list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    color: #f0f0f0;
    font-size: 14px;
    /* width: 1100px; */
    width: 100%;
    height: 24px;
    vertical-align: baseline;
}

.footer-links{
    padding: 0;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    text-align: center;
    display: block;
}

.link1{
    width: 51.52px;
    height: 24px;
}

.link2{
    width: 80px;
    height: 24px;
    margin-left: 50px;
}

.link3{
    width: 180px;
    height: 24px;
    margin-left: 50px;
}

.footer-middle{
    /* width: 1108px; */
    width: 100%;
    height: 144px;
    padding: 0 16px;
    /* justify-content: space-between; */
    margin: 0;
    border: 0;
    vertical-align: baseline;
    margin-top: 30px;
    display: flex;
}

.footer-middle-left{
    /* width: 425.198px; */
    width: 37%;
    height: 144px;
    display: block;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
}

#middle-top{
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #cbcbcb;
    margin: 0;
    padding: 0;
    border: 0;
    /* width: 425.198px; */
    width: 100%;
    height: 22px;
}

#middle-bottom{
    padding: 0;
    border: 0;
    margin-top: 12px;
    /* vertical-align: baseline; */
    display: block;
    color: #cbcbcb;
    font-weight: 400;
    line-height: 22px;
    /* width: 425.198px; */
    width: 100%;
    height: 110px;
    font-size: 12px;
}

#footer-middle-right{
    width: 253.396px;
    height: 144px;
    font-style: normal;
    font-stretch: normal;
    -webkit-font-smoothing: antialiased;
    display: block;
    position: relative;
    right: 0;
    margin-left: 445px;
}

#kakao-wrapper{
    cursor: pointer;
    /* width: 253.396px; */
    width: 100%;
    height: 98px;
    text-align: left;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: 16px;
}

#kakao{
    background-image: url(../../img/user/login/kakaoChat.png);
    width: 60px;
    height: 60px;
}

#kakao-text{
    /* width: 253.4px; */
    width: 100%;
    height: 26px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #fff;
    padding: 0;
    border: 0;
    display: block;
    cursor: pointer;
    text-align: left;
}

#content-bottom{
    width: 253.396px;
    height: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#content-number{
    width: 127.438px;
    height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}

#content-time{
    width: 97.96px;
    height: 22px;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 0;
    color: #cbcbcb;
    padding: 0;
    border: 0;
    display: block;
}

.footer-bottom{
    /* width: 1108px; */
    width: 95.89%;
    height: 24px;
    padding: 0 16px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: baseline;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    text-align: left;
}

.menuOne{
    width: 103.042px;
    height: 24px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    left: 0;
}

.menuTwo{
    width: 98.427px;
    height: 24px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
}

.menuThree{
    width: 137.073px;
    height: 24px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
}

.menuThree{
    width: 137.073px;
    height: 24px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
}

.menuFour{
    width: 98.427px;
    height: 24px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
}

.menuFive{
    width: 162.833px;
    height: 24px;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
}

.check{
    margin-right: 20px;
    margin-left: 20px;
    content: "|";
    color: #838383;
    height: 24px;
    display: flex;
}

.menuSix{
    /* width: 334.229px; */
    width: 30.5%;
    height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    /* margin-left: 170px; */
    margin-left: 15.5%;
    position: relative;
    right: -50px;
}

span.bold{
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

/* --------------- footer end --------------- */