@charset "UTF-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* ---------------header--------------- */
#login-header{
    display: flex;
    height: 68px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    /* padding: 0 16px; */
    width: 100%;
    /* z-index: 8001; */
    margin: 0;
    border: 0;
    vertical-align: baseline;
    /* background-color: aqua; */
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 22px;
}

#logo-wrapper{
    justify-content: flex-start;
    display: flex;
    margin: 0;
    padding: 0;
    border: 0;
    width: 67.4%;
}

#logo{
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    width: 99.198px;
    height: 18px;
    color: rgb(28, 28, 28);
    cursor: pointer;
    font-weight: 700;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-style: normal;
    font-stretch: normal;
}
/* ---------------header end--------------- */